/* styles.css */
label {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    margin: 10px;
    display: block;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}


#card1:not(:checked) ~ #card2:not(:checked) ~ #card3:checked ~ #card4:checked ~ .Cards label:nth-of-type(4), #card1:not(:checked) ~ #card2:not(:checked) ~ #card3:checked ~ #card4:checked ~ .Cards label:nth-of-type(3) {
    background-color: #de6060;
}